* {
  font-family: Poppins;
}

html {
  overflow-x: hidden;
}

.container {
  max-width: 76rem;
}

iframe::-webkit-scrollbar {
  display: none;
}

.landing-gradient {
  background-image: -webkit-linear-gradient(
    top,
    rgba(12, 12, 11, 0.4),
    rgb(12, 12, 11)
  );
}
