:root {
  --background: #0c0c0b;
  --background-grey: #181b1b;
}

* {
  font-family: Poppins;
}

html {
  overflow-x: hidden;
  background-color: var(--background);
}

iframe::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 76rem;
}

.bg-background {
  background-color: var(--background);
}

.bg-background-grey {
  background-color: var(--background-grey);
}

.landing-gradient {
  background-image: -webkit-linear-gradient(
    top,
    rgba(12, 12, 11, 0.4),
    rgb(12, 12, 11)
  );
}

.bestseller-item span {
  background-color: transparent;
  background-image: -webkit-linear-gradient(top, transparent, rgb(12, 12, 12));
  opacity: 0.7;
}
