:root {
  --background: #0c0c0b;
  --background-grey: #181b1b;
}

* {
  font-family: Poppins;
}

html {
  overflow-x: hidden;
  background-color: var(--background);
}

iframe::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 76rem;
}

.bg-background {
  background-color: var(--background);
}

.bg-background-grey {
  background-color: var(--background-grey);
}

.landing-gradient {
  background-image: -webkit-linear-gradient(
    top,
    rgba(12, 12, 11, 0.4),
    rgb(12, 12, 11)
  );
}

.bestseller-item span {
  background-image: -webkit-linear-gradient(
    top,
    transparent,
    rgba(0, 0, 0, 0.761)
  );
}

.contact-frame {
  background-image: url("/public/img/background-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-frame .gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgb(15, 14, 14) 5%,
    rgb(15, 14, 14, 0.6) 50%,
    rgb(15, 14, 14) 95%
  );
}

@media (max-width: 1024px) {
  .container {
    max-width: 40rem;
  }
}
